<!DOCTYPE html>
<html>

<head>
  <title>Welcome to the Address API</title>
</head>

<body>

  <h1><center>Welcome to the Address API</center></h1>

<p>
  Select action:
  <button onclick="" type="button">Search by country</button>
  <button type="button">Search across country</button>
  <button type="button">Add address</button>
</p>

<p>
  {{data["formats"]}}
</p>



<form name="add" action="/add" method="POST">

  Select Country:
  <select name="country">
    {% for id in data["formatIds"] %}
      <!-- TODO: add this validation to web api - ID.replace ('-', ' ') -->
      <!-- TODO: don't print "GENERAL"  key -->
      <option value='{{ id }}'>{{ id }}</option>
    {% endfor %}
  </select>

  <input type="text" value="{{ data }}" hidden=true name="formats">

  <input type="submit" value="Add Address">

</form>

</body>

</html>
