<!DOCTYPE html>
<html>

<head>
  <title>Welcome to the Address API</title>
</head>

<body>

  <h1><center>Welcome to the Address API</center></h1>

  <div id='operation'> 
    <form name="addForm" action="/addForm" method="POST">
    <h3>Add Address</h3>
      Select Country:
      <select name="country">
        {% for id in data["formatIds"] %}
          <!-- TODO: add this validation to web api - ID.replace ('-', ' ') -->
          <!-- TODO: don't print "GENERAL"  key -->
          <option value='{{ id }}'>{{ id }}</option>
        {% endfor %}
      </select>

      <input type="text" value="{{ data }}" hidden=true name="formats">

      <input type="submit" value="Add Address">

    </form>
  </div>


</body>

</html>
